/* Imagen de fondo index */

header {
  background-image: url(../assets/img/indexImg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}


.content-container {
  height: 100%; /* establece la altura de la página */
  display: block;
  background-image: url(../assets/img/modulosImg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: unset; /* establece la imagen de fondo fija al hacer scroll */
}

/* Barra de navegacion y logo */

.navBar {
  background-color: #f5eded00;
  padding: 10px 0px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLogo img {
  max-height: 40px;
  margin-left: 300px;
}

.navbarModulos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 420px;
  margin-top: 20px;
  font-family: Gilroy-Medium;
}

.navbarModulos li {
  margin-right: 20px;
  list-style: none;
}

.navbarModulos li:last-child {
  margin-right: 0;
}

.navbarModulos a {
  font-size: 15px;
  text-decoration: none;
  color: #4164b0;
  font-weight: bold;
}

.navbarModulos a:hover {
  color: #50aaa9;
}

.contMainTxt {
  position: relative;
  transform: translate(-21.5rem, 9.4rem);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mainTittleIndex {
  color: #033876;
  font-size: 80px;
  font-family: SF-Pro-Display-Bold;
  line-height: 0.9;
}

.parrafoIndex {
  margin-top: -10px;
  font-size: 21px;
  position: relative;
  color: #033876;
  font-family: Gilroy-Regular;
  line-height: 0.9;
}

.contModuleTxt {
  text-align: center;
  transform: translate(42rem, 7.5rem);
  position: absolute;
  flex-direction: column;
}

.moduleTittle {
  color: #033876;
  font-size: 61px;
}

.parrafoModule{
  margin-top: -10px;
  font-size: 21px;
  position: relative;
  color: #033876;
  font-family: Gilroy-Regular;
  line-height: 0.9;
}

/* Index modulo residente */

.modulePadre {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.moduleRes {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 250px;
  margin-left: 200px;
  margin-right: 70px;
  margin-bottom: 150px;
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.imgModuleRes {
  padding: 35px;
  margin-bottom: 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.imgModuleRes img {
  height: 140px;

}

.moduleRes .infoModuleRes {
  flex-grow: 1;
  margin-left: 15px;
  margin-bottom: 10px;
}

.moduleRes h1 {
  font-family: Gilroy-Semibold;
  color: #0b2669;
}

.moduleRes h5 {
  display: flex;
  text-align: left;
  font-family: Gilroy-Regular;
}

.moduleRes .resButton {
  background: radial-gradient( 80% 100% at 90% 90%, #466BAB 50%, #56A9AD 100% );
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Gilroy-Semibold;
}

.moduleRes .resButton:hover {
  background: radial-gradient( 80% 100% at 90% 90%, #4eea8a 50%, #466BAB 100% );
}

.moduleRes .resButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Index modulo recibo */

.moduleRec {
  flex: 1;
  display: flex;
  align-items: center;
  margin-top: 250px;
  margin-left: 70px;
  margin-right: 200px;
  margin-bottom: 150px;
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.imgModuleRec {
  padding-top: 35px;
  padding-bottom: 32px;
  padding-right: 51px;
  padding-left: 51px;
  margin-bottom: 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.imgModuleRec img {
  height: 140px;

}

.moduleRec .infoModuleRec {
  flex-grow: 1;
  margin-left: 15px;
  margin-bottom: 10px;
}

.moduleRec h1 {
  font-family: Gilroy-Semibold;
  color: #0b2669;
}

.moduleRec h5 {
  display: flex;
  text-align: left;
  font-family: Gilroy-Regular;
}

.moduleRec button {
  padding-left: 70px;
  padding-right: 70px;
}

.moduleRec .recButton {
  background: radial-gradient( 80% 100% at 90% 90%, #466BAB 50%, #56A9AD 100% );
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Gilroy-Semibold;
}

.moduleRec .recButton:hover {
  background: radial-gradient( 80% 100% at 90% 90%, #4eea8a 50%, #466BAB 100% );
}

.moduleRec .recButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Index modulo contacto */

.moduleCon {
  flex: 1;
  display: flex;
  transform: translate(0px, -50px);
  align-items: center;
  margin-left: 200px;
  margin-right: 70px;
  margin-bottom: 40px;
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.imgModuleCon {
  padding: 35px;
  margin-bottom: 0px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.imgModuleCon img {
  height: 140px;

}

.moduleCon .infoModuleCon {
  flex-grow: 1;
  margin-left: 15px;
  margin-bottom: 10px;
}

.moduleCon h1 {
  font-family: Gilroy-Semibold;
  color: #0b2669;
}

.moduleCon h5 {
  display: flex;
  text-align: left;
  font-family: Gilroy-Regular;
}

.moduleCon .conButton {
  background: radial-gradient( 80% 100% at 90% 90%, #466BAB 50%, #56A9AD 100% );
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Gilroy-Semibold;
}

.moduleCon .conButton:hover {
  background: radial-gradient( 80% 100% at 90% 90%, #4eea8a 50%, #466BAB 100% );
}

.moduleCon .conButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Index modulo nosotros */

.moduleNos {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-right: 200px;
  margin-bottom: 40px;
  padding: 50px;
  transform: translate(0px, -50px);
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.imgModuleNos {
  padding: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 33px;
  padding-right: 33px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.moduleNos .infoModuleNos {
  flex-grow: 1;
  margin-left: 15px;
  margin-bottom: 10px;
}

.imgModuleNos img {
  height: 118px;

}

.moduleNos h1 {
  font-family: Gilroy-Semibold;
  color: #0b2669;
}


.moduleNos h5 {
  display: flex;
  text-align: left;
  font-family: Gilroy-Regular;
}

.moduleNos .nosButton {
  background: radial-gradient( 80% 100% at 90% 90%, #466BAB 50%, #56A9AD 100% );
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: Gilroy-Semibold;
}

.moduleNos .nosButton:hover {
  background: radial-gradient( 80% 100% at 90% 90%, #4eea8a 50%, #466BAB 100% );
}

.moduleNos .nosButton:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Footer */

.footerPag {
  font-size: 1;
  padding: 20px;
  background-color: #ffffffde;
  margin: 0;
}

.footerPag p {
  font-size: 1;
  display: block;
  text-align: center;
  color: #022c5d;
  margin: 0px;
}

